{{#each managers}}
<div class="column">
    <div class="ui fluid card">
        <div class="dimmable content clickable" data-link="/Manager/index/{{link}}">
            <div class="ui dimmer clickable" data-link="/Manager/index/{{link}}">
                <div class="content">
                    <div class="center">
                        <a href="/Manager/index/{{link}}" class="ui inverted button">Show {{title}}</a>
                    </div>
                </div>
            </div>
            <div class="header">{{title}}</div>
            <i class="huge {{icon}} icon circular inverted blue"></i>
        </div>
        <div class="extra content">
            <a href="/Manager/item/{{link}}"><i class="plus icon"></i>Add</a>
            <a href="/Manager/index/{{link}}" class="right floated created">{{#if count}}{{count}}{{/if}}</a>
        </div>
    </div>
</div>
{{/each}}