<div class="ui five items" style="margin-top: 20px;">
{{#each managers}}
	<div class="manager item" style="min-height: auto">
		<a class="star ui corner label">
        	<i class="star icon"></i>
      	</a>
      	<h3 class="ui header center aligned" style="margin: 10px">{{title}}</h3>
      	<div class="ui basic center aligned segment" style="margin-top: 0; margin-bottom: 10px">
	      	<a href="/Manager/list/{{manager}}"><i class="icon {{icon}} circular inverted category-{{category}}" style="font-size: 55px; margin: 0"></i></a>
	      	<p>{{description}}</p>
	    </div>
	    <div class="ui buttons" style="padding-left: 32px">
			<a href="/Manager/add/{{manager}}" class="ui button">Add</a>
			<a href="/Manager/list/{{manager}}" class="ui button">List</a>
		</div>
  	</div>
{{/each}}
</div>