            <div class="top-container">
                {{#CollectionHeader}}{{/CollectionHeader}}
            </div>

            <div class="bottom-container">
            	{{#if photo_galleries}}
	                {{#CollectionPagination}}{{/CollectionPagination}}
	                {{#CollectionButtons}}{{/CollectionButtons}}
	                
	                <table class="ui large table segment manager sortable">
                            <col width="20%">
                            <col width="40%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
	                    <thead>
	                        <tr>
	                            
	                            <th>Image</th>
	                            <th>Title</th>
	                            <th>Status</th>
	                            <th>Featured</th>
	                            <th>Pinned</th>
	                            <th class="trash">Delete</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        {{#each photo_galleries}}
	                            <tr data-id="{{dbURI}}">
	                                
	                                <td>{{#ImageResize}}{{image}}{{/ImageResize}}</td>
	                                <td>{{title}}</td>
	                                <td>{{#Capitalize}}{{status}}{{/Capitalize}}</td>
                                    <td>{{#BooleanReadable}}{{featured}}{{/BooleanReadable}}</td>
                                    <td>{{#BooleanReadable}}{{pinned}}{{/BooleanReadable}}</td>
	                                <td>
	                                    <div class="manager trash ui icon button">
	                                         <i class="trash icon"></i>
	                                     </div>
	                                 </td>
	                            </tr>
	                        {{/each}}
	                    </tbody>
	                </table>
	                {{#CollectionPagination}}{{/CollectionPagination}}
                {{else}}
					{{#CollectionEmpty}}{{/CollectionEmpty}}
				{{/if}}
            </div>